html,
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-bar > ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.nav-bar > ul > li {
  padding: 10px;
}

.main {
  padding: 0 15px;
}

.search {
  padding: 15px 0px;
}

.toprated {
  padding-bottom: 15px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
  height: auto;
  background-color: #f0f0f0;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}
